@import url('reset.css');
@import url('fonts.css');

/* Box Sizing */
html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

/* Main Styling */
body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 52px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 25px;
    line-height: 64px;
}

.ml-30 {
    margin-left: 30px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.jc-spacebetween {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.top-home {
    background-color: #daac00;
    padding: 30px 0 30px 0;
}

.menu ul li a {
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
}

.menu ul {
    gap: 40px;
    margin-top: 16px;
}

.search-bar input {
    background-color: #fcc302;
    color: #ffffff;
    border: none;
    outline: 0px;
    min-height: 48px;
    padding: 0 18px 0 18px;
    font-size: 20px;
    line-height: 26px;
    max-width: 192px;
    width: 100%;
}

.search-bar input::placeholder {
    color: #ffffff;
}

.search-bar button {
    background-color: #00bec9;
    min-height: 48px;
    width: 67px;
    border: none;
}

.form-group {
    margin-top: 4px;
    box-shadow: 15px 17px 17px rgba(74,74,74, 0.1);
}

.bottom-home {
    background-color: #fcc302;
    padding: 85px 0 85px 0;
}

.bottom-home p {
    color: #ffffff;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
}

.bottom-home .container {
    gap: 170px;
}

button {
    border: 4px solid transparent;
    padding: 16px 26px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #ffffff;
}

button.blue {
    border-color: #00bec9;
    background-color: #00bec9;
}

button.without-bg {
    background: transparent;
    border-color: #ffffff;
}