@import url('fonts.css');
@import url('reset.css');

/* Box sizing */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* Main Styling */

body {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    line-height: 70px;
    font-weight: 400;
}

.container {
    max-width: 830px;
    width: 100%;
    margin: 0 auto;
}

header {
    min-height: 100vh;
    width: 100vw;
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo h1 {
    color: #ffffff;
}

body.menuActive .menu-btn span, body.menuActive .menu-btn:before, body.menuActive .menu-btn:after {
    background-color: #111212;
}

body.menuActive .menu-btn span {
    display: none;
}

body.menuActive .menu-btn:before {
    transform: rotate(-45deg);
    top: 10px;
    transition: transform ease 0.5s;
}

body.menuActive .menu-btn:after {
    transform: rotate(45deg);
    bottom: 6px;
    transition: transform ease 0.5s;
}

.menu-btn {
    width: 28px;
    height: 20px;
    position: relative;
    margin-top: 20px;
}

.menu-btn:before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    top: 0px;
}

.menu-btn:after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    bottom: 0px;
}


.menu-btn span {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    display: inline-block;
    top: calc(50% - 1.7px);
    right: 0;
}

/* Home Slider */
#home-slider {
    position: relative;
    min-height: 100vh;
}

#home-slider .owl-dots {
    position: absolute;
    bottom: 0;
    z-index: 999;
    left: calc(50% - 43px);
}

#home-slider .owl-dots button {
    margin-left: 10px;
}

#home-slider .owl-dots button:first-child {
    margin-left: 0px;
}

#home-slider .owl-dots button.active span{
    background-color: #27cee2;
}

#home-slider .owl-dots button span{
    background-color: #ffffff;
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

#home-slider .slide > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#home-slider > div img {
    max-width: 830px;
    margin-bottom: 75px;
}

#home-slider .slide h3 {
    font-size: 67px;
    line-height: 69px;
    color: #ffffff;
    margin: 0;
}

#home-slider .slide p {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    line-height: 18px;
}

#home-slider .slide button {
    padding: 10px 33px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    background-color: #111212;
    border: 0px;
    line-height: 22px;
    margin-top: 20px;
}

.slide-content {
    text-align: center;
    margin-top: 20vh;
}

#home-slider .slide {
    position: relative;
}

#home-slider .slide .slide-before {
    left: 20px;
}

#home-slider .slide .slide-after {
    right: 20px;
}

#home-slider .slide .slide-before, #home-slider .slide .slide-after {
    position: absolute;
    bottom: 20px;
    color: #ffffff;
}

/* slide navigation */
#slide-navigation {
    position: fixed;
    width: 250px;
    height: 100vh;
    z-index: 9998;
    background-color: #ffffff;
    top: 0px;
    right: -250px;
    transition: all ease 0.1s;
}

body.menuActive #slide-navigation {
    right: 0px;
}